.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 19px;
}
.button_delete {
  padding: 10px;
  border-radius: 20px;
  text-transform: capitalize;
  margin-left: 10px;
  background-color: rgb(234, 164, 164);
  transition: ease-out 0.3s;
}
.button_delete:hover,
.button_delete:focus {
  background-color: rgb(246, 83, 83);
  transition: ease-in 0.3s;
}
